project1.json
[{"id":"3581c42d.012bac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ad19e7d.e00db2","type":"function","z":"3581c42d.012bac","name":"PreToken","func":"global.set(\"dg\",msg.payload.dg)\nglobal.set(\"fvc\",msg.payload.fvc)\nglobal.set(\"fev\",msg.payload.fev)\nglobal.set(\"pf\",msg.payload.pf)\nglobal.set(\"pn\",msg.payload.pn)\nglobal.set(\"hm\",msg.payload.hm)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"cu\",msg.payload.cu)\nglobal.set(\"wk\",msg.payload.wk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"_xWxl14eEj_w-zn3jzX4zxW1HyBG02vfkNYEFGJQBnD-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["8861b5e8.7ec548"]]},{"id":"a2614d12.9e155","type":"function","z":"3581c42d.012bac","name":"Pre Prediction","func":"var dg = global.get('dg')\nvar fvc = global.get('fvc')\nvar fev = global.get('fev')\nvar pf = global.get('pf')\nvar pn = global.get('pn')\nvar hm = global.get('hm')\nvar dy = global.get('dy')\nvar cu = global.get('cu')\nvar wk = global.get('wk')\nvar ts = global.get('ts')\nvar dm = global.get('dm')\nvar mi = global.get('mi')\nvar pd = global.get('pd')\nvar sm = global.get('sm')\nvar as = global.get('as')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"0344a5ab-c068-4eb7-966d-48c8725d37ef\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\",\"FVC\",\"FEV1\",\"Performance\",\"Pain\",\"Haemoptysis\",\"Dyspnoea\",\"Cough\",\"Weakness\",\"Tumor_Size\",\"Diabetes_Mellitus\",\"MI_6mo\",\"PAD\",\"Smoking\",\"Asthma\",\"Age\"], \"values\": [[dg,fvc,fev,pf,pn,hm,dy,cu,wk,ts,dm,mi,pd,sm,as,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["2bc6d6a7.eaf00a"]]},{"id":"120cc278.40effe","type":"ui_form","z":"3581c42d.012bac","name":"","label":"","group":"660daa23.ae36f4","order":0,"width":0,"height":0,"options":[{"label":"Diagnosis","value":"dg","type":"number","required":true,"rows":null},{"label":"FVC","value":"fvc","type":"number","required":true,"rows":null},{"label":"FEV1","value":"fev","type":"number","required":true,"rows":null},{"label":"Performance","value":"pf","type":"number","required":true,"rows":null},{"label":"Pain","value":"pn","type":"number","required":true,"rows":null},{"label":"Haemoptysis","value":"hm","type":"number","required":true,"rows":null},{"label":"Dyspnoea","value":"dy","type":"number","required":true,"rows":null},{"label":"Cough","value":"cu","type":"number","required":true,"rows":null},{"label":"Weakness","value":"wk","type":"number","required":true,"rows":null},{"label":"Tumor_Size","value":"ts","type":"number","required":true,"rows":null},{"label":"Diabetes_Mellitus","value":"dm","type":"number","required":true,"rows":null},{"label":"MI_6mo","value":"mi","type":"number","required":true,"rows":null},{"label":"PAD","value":"pd","type":"number","required":true,"rows":null},{"label":"Smoking","value":"sm","type":"number","required":true,"rows":null},{"label":"Asthma","value":"as","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"dg":"","fvc":"","fev":"","pf":"","pn":"","hm":"","dy":"","cu":"","wk":"","ts":"","dm":"","mi":"","pd":"","sm":"","as":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["3ad19e7d.e00db2"]]},{"id":"4b1509a6.6fb078","type":"ui_text","z":"3581c42d.012bac","group":"660daa23.ae36f4","order":1,"width":0,"height":0,"name":"","label":"death_1yr","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"2bc6d6a7.eaf00a","type":"http request","z":"3581c42d.012bac","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/acfc5952-1a66-4a2e-83b3-9971d6f6590d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["6163f3a6.cc36fc","e5d74d5e.88423"]]},{"id":"8861b5e8.7ec548","type":"http request","z":"3581c42d.012bac","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["a2614d12.9e155"]]},{"id":"8f5b19e4.a4f948","type":"debug","z":"3581c42d.012bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"6163f3a6.cc36fc","type":"function","z":"3581c42d.012bac","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["4b1509a6.6fb078","8f5b19e4.a4f948"]]},{"id":"a51d0c0f.b81bf","type":"inject","z":"3581c42d.012bac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":320,"wires":[["3ad19e7d.e00db2"]]},{"id":"e5d74d5e.88423","type":"debug","z":"3581c42d.012bac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":340,"wires":[]},{"id":"660daa23.ae36f4","type":"ui_group","z":"","name":"Default","tab":"625159c7.6e52b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"625159c7.6e52b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]